In [ ]:
A = np.array([[1,3,4],[4,3,5],[1,1,1],[0,0,1]],dtype=np.double)
b = [1,1,1]